<div class="topcoat-navigation-bar__item left quarter">
<a class="topcoat-icon-button--quiet back-button" href="#">
<span class="topcoat-icon topcoat-icon--home"></span>
</a>
</div>
        <div class="topcoat-navigation-bar__item center half">
            <h1 class="topcoat-navigation-bar__title">Cambiar contrase単a</h1>
        </div>
</div>
<div id='loginForm'>
<input type="password" id='contrasenaVieja' class="topcoat-text-input full" placeholder="Contrase単a Vieja" value=""><br><br>
<input type="password" id='contrasenaNueva' class="topcoat-text-input full" pattern="[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]{6,}" placeholder=Contrase単a Nueva" value=""><br><br>
<button id='changePassword' class="topcoat-button--cta full">Cambiar Contrase単a</button><br><br>
</div>