<div class="topcoat-navigation-bar__item left quarter">
<a class="topcoat-icon-button--quiet back-button" href="#">
<span class="topcoat-icon topcoat-icon--home"></span>
</a>
</div>
        <div class="topcoat-navigation-bar__item center half">
            <h1 class="topcoat-navigation-bar__title">Contraseña Olvidada</h1>
        </div>
</div>
<div id='dataEnter'>
<input type="email" id='email' maxlength='45' class="topcoat-text-input full" placeholder="Email" value=""><br><br>
<button id='enviarEmail' class="topcoat-button--cta full">Enviar</button>
</div>
<!--
<div id='success' style = 'display:none'>
<h1>Enhorabuena</h1>
<p>Recibiras una nueva contraseña en tu correo en breves momentos, recuerda cambiarla desde la web.</p>
</div>
<div id='error' style = 'display:none'>
<h1>Error</h1>
<p>El correo que has introducido no existe en nuestra Base de Datos.</p>
</div>-->