<div class="topcoat-navigation-bar__item left quarter">
<a class="topcoat-icon-button--quiet back-button" href="#">
<span class="topcoat-icon topcoat-icon--home"></span>
</a>
</div>
        <div class="topcoat-navigation-bar__item center half">
            <h1 class="topcoat-navigation-bar__title">Login</h1>
        </div>
</div>
<div id='loginForm'>
<input type="text" id='usuario' class="topcoat-text-input full" placeholder="Nombre de usuario" value=""><br><br>
<input type="password" id='contrasena' class="topcoat-text-input full" placeholder="Contraseña" value=""><br><br>
<button id='loginbutton' class="topcoat-button--cta full">Log In</button><br><br>
<a href='#contrasenaOlvidada'><button class="topcoat-button--cta full">He olvidado la contraseña</button></a>
</div>